In [132]:
# Mount your Google drive folder on Colab
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [133]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [134]:
df = pd.read_csv("/content/gdrive/My Drive/winemag-data_first150k.csv")
df2 = pd.read_csv("/content/gdrive/My Drive/winemag-data-130k-v2.csv")
df3 = pd.read_json("/content/gdrive/My Drive/winemag-data-130k-v2.json")

In [135]:
df.head()

   Unnamed: 0 country  ...             variety                   winery
0           0      US  ...  Cabernet Sauvignon                    Heitz
1           1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2           2      US  ...     Sauvignon Blanc                 Macauley
3           3      US  ...          Pinot Noir                    Ponzi
4           4  France  ...  Provence red blend     Domaine de la Bégude

[5 rows x 11 columns]

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  object
 2   description  150930 non-null  object
 3   designation  105195 non-null  object
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  object
 7   region_1     125870 non-null  object
 8   region_2     60953 non-null   object
 9   variety      150930 non-null  object
 10  winery       150930 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.7+ MB

In [137]:
#df[df['designation'].isnull() == True]

In [138]:
df['country'].iloc[68226] = 'Chile'
df['country'].iloc[113016] = 'Chile'
df['country'].iloc[135696] = 'Chile'
df['country'].iloc[1133] = 'Greece'
df['country'].iloc[1440] = 'Turkey'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [139]:
df['province'].replace(to_replace = np.nan, value = ' ', inplace=True)
df['region_1'].replace(to_replace = np.nan, value = ' ', inplace=True)
df['region_2'].replace(to_replace = np.nan, value = ' ', inplace=True)

In [140]:
df['Region'] = df['region_1'] + ' ' + df['region_2'] + ' ' + df['province']

In [141]:
df.drop('region_1', axis=1,inplace=True)
df.drop('region_2', axis=1,inplace=True)
df.drop('province', axis=1,inplace=True)
df.dropna(axis=0, inplace=True)

In [142]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [143]:
#df[(df['variety'] == 'White Blend') & (df['winery'] == 'Dolce')][['designation','winery','country']]

In [144]:
df2 = pd.read_csv("/content/gdrive/My Drive/winemag-data-130k-v2.csv")

In [145]:
df2.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

In [146]:
df2.drop('taster_name', axis=1,inplace=True)
df2.drop('taster_twitter_handle', axis=1,inplace=True)
df2.drop('title', axis=1,inplace=True)
df2.drop('Unnamed: 0',axis=1,inplace=True)

In [147]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   country      129908 non-null  object
 1   description  129971 non-null  object
 2   designation  92506 non-null   object
 3   points       129971 non-null  int64
 4   price        120975 non-null  float64
 5   province     129908 non-null  object
 6   region_1     108724 non-null  object
 7   region_2     50511 non-null   object
 8   variety      129970 non-null  object
 9   winery       129971 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 9.9+ MB

In [148]:
df2['province'].replace(to_replace = np.nan, value = ' ', inplace=True)
df2['region_1'].replace(to_replace = np.nan, value = ' ', inplace=True)
df2['region_2'].replace(to_replace = np.nan, value = ' ', inplace=True)

In [149]:
df2['Region'] = df2['region_1'] + ' ' + df2['region_2'] + ' ' + df2['province']

In [150]:
df2.drop('region_1', axis=1,inplace=True)
df2.drop('region_2', axis=1,inplace=True)
df2.drop('province', axis=1,inplace=True)

In [151]:
df2.dropna(axis=0, inplace=True)

In [152]:
df3 = pd.read_json("/content/gdrive/My Drive/winemag-data-130k-v2.json")

In [153]:
df3.head()

   points  ...               winery
0      87  ...              Nicosia
1      87  ...  Quinta dos Avidagos
2      87  ...            Rainstorm
3      87  ...           St. Julian
4      87  ...         Sweet Cheeks

[5 rows x 13 columns]

In [160]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86148 entries, 1 to 129970
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   points       86148 non-null  int64
 1   description  86148 non-null  object
 2   price        86148 non-null  float64
 3   designation  86148 non-null  object
 4   variety      86148 non-null  object
 5   country      86148 non-null  object
 6   winery       86148 non-null  object
 7   Region       86148 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 5.9+ MB

In [155]:
df3.drop('taster_name', axis=1,inplace=True)
df3.drop('taster_twitter_handle', axis=1,inplace=True)
df3.drop('title', axis=1,inplace=True)

In [156]:
df3['province'].replace(to_replace = np.nan, value = ' ', inplace=True)
df3['region_1'].replace(to_replace = np.nan, value = ' ', inplace=True)
df3['region_2'].replace(to_replace = np.nan, value = ' ', inplace=True)

In [157]:
df3['Region'] = df3['region_1'] + ' ' + df3['region_2'] + ' ' + df3['province']

In [158]:
df3.drop('region_1', axis=1,inplace=True)
df3.drop('region_2', axis=1,inplace=True)
df3.drop('province', axis=1,inplace=True)

In [159]:
df3.dropna(axis=0, inplace=True)

In [161]:
wt_df = pd.concat([df,df2,df3])

In [163]:
wt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267220 entries, 0 to 129970
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   country      267220 non-null  object
 1   description  267220 non-null  object
 2   designation  267220 non-null  object
 3   points       267220 non-null  int64
 4   price        267220 non-null  float64
 5   variety      267220 non-null  object
 6   winery       267220 non-null  object
 7   Region       267220 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 18.3+ MB

In [164]:
wt_df.to_csv('/content/gdrive/My Drive/wine_tasting_ds.csv')