In [1]:
# Mount your Google drive folder on Colab
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [2]:
#Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Read CSV file into a pandas data frame
df = pd.read_csv("/content/gdrive/My Drive/winemag-data_first150k.csv")

In [4]:
#Check necessary information about the raw data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  object
 2   description  150930 non-null  object
 3   designation  105195 non-null  object
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  object
 7   region_1     125870 non-null  object
 8   region_2     60953 non-null   object
 9   variety      150930 non-null  object
 10  winery       150930 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.7+ MB

In [5]:
#Check head of data frame
df.head()

   Unnamed: 0 country  ...             variety                   winery
0           0      US  ...  Cabernet Sauvignon                    Heitz
1           1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2           2      US  ...     Sauvignon Blanc                 Macauley
3           3      US  ...          Pinot Noir                    Ponzi
4           4  France  ...  Provence red blend     Domaine de la Bégude

[5 rows x 11 columns]

In [6]:
#Fill in missing countries
df['country'].iloc[68226] = 'Chile'
df['country'].iloc[113016] = 'Chile'
df['country'].iloc[135696] = 'Chile'
df['country'].iloc[1133] = 'Greece'
df['country'].iloc[1440] = 'Turkey'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [7]:
#Replace null values in province, region_1 and region_2 columns with empty string
df['province'].replace(to_replace = np.nan, value = ' ', inplace=True)
df['region_1'].replace(to_replace = np.nan, value = ' ', inplace=True)
df['region_2'].replace(to_replace = np.nan, value = ' ', inplace=True)

In [8]:
#Concatenate province, region_1 and region_2 columns to form new column named Region
df['Region'] = df['region_1'] + ' ' + df['region_2'] + ' ' + df['province']

In [9]:
#Drop unnecessary columns to reduce the complexity of the model
df.drop('region_1', axis=1,inplace=True)
df.drop('region_2', axis=1,inplace=True)
df.drop('province', axis=1,inplace=True)
df.drop('designation', axis=1,inplace=True)

In [10]:
df.drop('points', axis=1,inplace=True)
df.drop('price', axis=1,inplace=True)

In [11]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [12]:
#Create another pandas data frame
df2 = pd.read_csv("/content/gdrive/My Drive/winemag-data-130k-v2.csv")

In [13]:
#Check the head of the data frame
df2.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

In [14]:
#Drop unnecesary columns to reduce complexity of the model
df2.drop('taster_name', axis=1,inplace=True)
df2.drop('taster_twitter_handle', axis=1,inplace=True)
df2.drop('title', axis=1,inplace=True)
df2.drop('Unnamed: 0',axis=1,inplace=True)
df2.drop('designation', axis=1,inplace=True)
df2.drop('points', axis=1,inplace=True)
df2.drop('price', axis=1,inplace=True)

In [15]:
#Check necessary information on the data frame
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   country      129908 non-null  object
 1   description  129971 non-null  object
 2   province     129908 non-null  object
 3   region_1     108724 non-null  object
 4   region_2     50511 non-null   object
 5   variety      129970 non-null  object
 6   winery       129971 non-null  object
dtypes: object(7)
memory usage: 6.9+ MB

In [16]:
#Replace null values in the province, region_1 and region_2 columns with empty string
df2['province'].replace(to_replace = np.nan, value = ' ', inplace=True)
df2['region_1'].replace(to_replace = np.nan, value = ' ', inplace=True)
df2['region_2'].replace(to_replace = np.nan, value = ' ', inplace=True)

In [17]:
#Concatenate province, region_1 and region_2 columns to create new column named Region
df2['Region'] = df2['region_1'] + ' ' + df2['region_2'] + ' ' + df2['province']

In [18]:
#Drop all unnecesary columns
df2.drop('region_1', axis=1,inplace=True)
df2.drop('region_2', axis=1,inplace=True)
df2.drop('province', axis=1,inplace=True)

In [19]:
df2.dropna(axis=0, inplace=True)

In [20]:
#Create another pandas data frame
df3 = pd.read_json("/content/gdrive/My Drive/winemag-data-130k-v2.json")

In [21]:
#Check head of new data frame
df3.head()

   points  ...               winery
0      87  ...              Nicosia
1      87  ...  Quinta dos Avidagos
2      87  ...            Rainstorm
3      87  ...           St. Julian
4      87  ...         Sweet Cheeks

[5 rows x 13 columns]

In [22]:
#Check necessary info
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   points                 129971 non-null  int64
 1   title                  129971 non-null  object
 2   description            129971 non-null  object
 3   taster_name            103727 non-null  object
 4   taster_twitter_handle  98758 non-null   object
 5   price                  120975 non-null  float64
 6   designation            92506 non-null   object
 7   variety                129970 non-null  object
 8   region_1               108724 non-null  object
 9   region_2               50511 non-null   object
 10  province               129908 non-null  object
 11  country                129908 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.9+ MB

In [23]:
#Drop unnecesary columns
df3.drop('taster_name', axis=1,inplace=True)
df3.drop('taster_twitter_handle', axis=1,inplace=True)
df3.drop('title', axis=1,inplace=True)
df3.drop('designation', axis=1,inplace=True)
df3.drop('points', axis=1,inplace=True)
df3.drop('price', axis=1,inplace=True)

In [24]:
#Replace null values with empty string
df3['province'].replace(to_replace = np.nan, value = ' ', inplace=True)
df3['region_1'].replace(to_replace = np.nan, value = ' ', inplace=True)
df3['region_2'].replace(to_replace = np.nan, value = ' ', inplace=True)

In [25]:
#Create new column named Region
df3['Region'] = df3['region_1'] + ' ' + df3['region_2'] + ' ' + df3['province']

In [26]:
#Drop unnecesary columns
df3.drop('region_1', axis=1,inplace=True)
df3.drop('region_2', axis=1,inplace=True)
df3.drop('province', axis=1,inplace=True)

In [27]:
df3.dropna(axis=0, inplace=True)

In [28]:
#Create new data frame
wt_df2 = pd.concat([df,df2,df3])

In [29]:
#Create necesary information on the data frame
wt_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 410744 entries, 0 to 129970
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   country      410744 non-null  object
 1   description  410744 non-null  object
 2   variety      410744 non-null  object
 3   winery       410744 non-null  object
 4   Region       410744 non-null  object
dtypes: object(5)
memory usage: 18.8+ MB

In [30]:
#Check head of data frame
wt_df2.head(5)

  country  ...                                      Region
0      US  ...                 Napa Valley Napa California
1   Spain  ...                       Toro   Northern Spain
2      US  ...            Knights Valley Sonoma California
3      US  ...  Willamette Valley Willamette Valley Oregon
4  France  ...                           Bandol   Provence

[5 rows x 5 columns]

In [31]:
#Remove duplicate values in Region column
def remove(region):
  place = region.split()
  mylist = list(dict.fromkeys(place))
  return ' '.join(mylist)

In [32]:
wt_df2['Province'] = wt_df2['Region'].apply(remove)

In [33]:
#Check the new head
wt_df2.head()

  country  ...                          Province
0      US  ...            Napa Valley California
1   Spain  ...               Toro Northern Spain
2      US  ...  Knights Valley Sonoma California
3      US  ...          Willamette Valley Oregon
4  France  ...                   Bandol Provence

[5 rows x 6 columns]

In [34]:
wt_df2.drop('Region', axis=1, inplace=True)

In [35]:
#Create new column named Location
wt_df2['Location'] = wt_df2['Province'] + ' ' + wt_df2['country']

In [36]:
#Clean the data frame
wt_df2['Location'] = wt_df2['Location'].apply(remove)

In [37]:
wt_df2.drop('Province', axis=1, inplace=True)
wt_df2.drop('country', axis=1, inplace=True)

In [38]:
import pandas as pd
import nltk
import numpy as np
import re
from nltk.stem import wordnet # to perform lemmitization
#from sklearn.feature_extraction.text import CountVectorizer # to perform bow
from sklearn.feature_extraction.text import TfidfVectorizer # to perform tfidf
from nltk import pos_tag # for parts of speech
from sklearn.metrics import pairwise_distances # to perform cosine similarity
from nltk import word_tokenize #  to create tokens
#from nltk.corpus import stopwords # for stop words

In [39]:
def text_normalization(text):
    text = str(text).lower() # text to lower case
    spl_char_text = re.sub(r'[^a-z]',' ',text) # removing special characters
    tokens = nltk.word_tokenize(spl_char_text) # word tokenizing
    lema = wordnet.WordNetLemmatizer() # initializing lemmatization
    tags_list = pos_tag(tokens, tagset = None) # parts of speech
    lema_words = [] # empty list
    
    for token,pos_token in tags_list:
        if pos_token.startswith('V'): # verb
            pos_val = 'v'
        elif pos_token.startswith('J'): # adjective
            pos_val = 'a'
        elif pos_token.startswith('R'): # adverb
            pos_val = 'r'
        else:
            pos_val = 'n' # noun
            
        lema_token = lema.lemmatize(token, pos_val) # performing lemmmatization
        lema_words.append(lema_token) # appending lemmatized token into a list
    
    return " ".join(lema_words) # returns the lemmatized tokens as a sentence

In [40]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [41]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [42]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [43]:
wt_df2['lemmatized_text'] = wt_df2['variety']

In [44]:
for i in range(0,50930):
  wt_df2['lemmatized_text'].iloc[i] = text_normalization(wt_df2['description'].iloc[i])

In [45]:
for i in range(50930,100930):
  wt_df2['lemmatized_text'].iloc[i] = text_normalization(wt_df2['description'].iloc[i])

In [46]:
for i in range(100930,150930):
  wt_df2['lemmatized_text'].iloc[i] = text_normalization(wt_df2['description'].iloc[i])

In [47]:
for i in range(150930,200930):
  wt_df2['lemmatized_text'].iloc[i] = text_normalization(wt_df2['description'].iloc[i])

In [48]:
for i in range(200930,250930):
  wt_df2['lemmatized_text'].iloc[i] = text_normalization(wt_df2['description'].iloc[i])

In [49]:
for i in range(250930,300930):
  wt_df2['lemmatized_text'].iloc[i] = text_normalization(wt_df2['description'].iloc[i])

In [50]:
for i in range(300930,350930):
  wt_df2['lemmatized_text'].iloc[i] = text_normalization(wt_df2['description'].iloc[i])

In [51]:
for i in range(350930,410744):
  wt_df2['lemmatized_text'].iloc[i] = text_normalization(wt_df2['description'].iloc[i])

In [52]:
#Save cleaned data frame to CSV file
wt_df2.to_csv('/content/gdrive/My Drive/wine_tasting_dataprep.csv')

In [53]:
wt_df2.head()

                                         description  ...                                    lemmatized_text
0  This tremendous 100% varietal wine hails from ...  ...  this tremendous varietal wine hail from oakvil...
1  Ripe aromas of fig, blackberry and cassis are ...  ...  ripe aroma of fig blackberry and cassis be sof...
2  Mac Watson honors the memory of a wine once ma...  ...  mac watson honor the memory of a wine once mak...
3  This spent 20 months in 30% new French oak, an...  ...  this spent month in new french oak and incorpo...
4  This is the top wine from La Bégude, named aft...  ...  this be the top wine from la b gude name after...

[5 rows x 5 columns]